In [16]:
import numpy as np 
import pandas as pd 
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px 
import plotly.graph_objs as go

In [6]:
DeptOfAgri=pd.read_csv('Expenditure under various schemes of the Department of Agriculture, Cooperation and Farmers Welfare from 2014-15 to 2016-17 (From Ministry of Agriculture and Farmers Welfare).csv')
DeptOfAgri.head(10)

,Sl. No.,Name of Mission/Scheme,2014-15 - Actual Exp.,2015-16 - Actual Exp.,2016-17 - Actual Exp.
0,1,National Food Security Mission,1872.74,1162.34,1286.03
1,2,Mission for Integrated Development of Horticul...,1956.45,1696.80,1493.07
2,3,National Mission On Oilseeds & Oil Palm,319.07,305.81,327.50
3,4,National Mission for Sustainable Agriculture,1391.77,701.38,658.35
4,5,National Mission on Agriculture Extension and ...,1241.86,1033.10,1215.27
5,6,Integrated Scheme on Agriculture Census and St...,216.56,218.58,172.18
6,7,National Crop Insurance Programme,2598.35,2983.04,14650.83
7,8,Debentures of land Development Banks,10.89,12.30,18.18
8,9,Integrated Scheme on Agriculture Marketing,979.80,570.30,782.49
9,10,Integrated Scheme on Agriculture Cooperation,99.41,121.70,129.81

In [5]:
SSA=pd.read_csv('StateUT-wise details of Central Share Released and Expenditure Incurred under Sarva Shiksha Abhiyan (SSA)Samagra Shiksha from 2015-16 to 2018-19 (From  Ministry of Human Resource Development).csv')
SSA.head(10)

,Sl. No.,Name of the States/UTs,2015-16 - Central share released,2015-16 - Expenditure,2016-17 - Central share released,2016-17 - Expenditure,2017-18 - Central share released,2017-18 - Expenditure,2018-19 (Samagra Shiksha) - Central share released [As on 31.01.2019],2018-19 (Samagra Shiksha) - Expenditure [As on 31.12.2018]
0,1,A & N Island,359.46,696.75,479.14,831.90,1945.53,1251.03,1399.22,808.62
1,2,Andhra Pradesh,66810.81,161051.54,63302.18,122115.26,70431.00,94919.79,85796.82,96688.63
2,3,Arunachal Pradesh,18179.44,29271.33,19956.64,30445.19,23022.07,34987.92,19426.93,13372.87
3,4,Assam,100464.64,116527.23,87652.30,106131.38,123584.00,138517.86,107084.99,109874.48
4,5,Bihar,251557.33,576225.94,270688.44,638367.43,255797.00,763107.95,221950.59,258672.75
5,6,Chandigarh,3521.81,5767.69,3333.55,5673.19,9265.50,7528.56,5436.86,6222.36
6,7,Chhattisgarh,62219.70,147751.88,59262.77,170229.54,67477.00,160100.00,54063.16,107545.19
7,8,D & N Haveli,594.91,1694.87,1068.38,1974.23,5476.54,6056.80,2634.94,1233.54
8,9,Daman & Diu,78.38,374.01,300.00,230.50,1038.57,853.78,422.87,405.21
9,10,Delhi,7293.80,10328.59,8306.19,11439.95,10976.90,16056.56,12509.44,16273.38

In [8]:
PKVYScheme=pd.read_csv('StateUT-wise Funds Allocated, Release and Expenditure under Paramparagat Krishi Vikas Yojana (PKVY) Schemes from 2015-16 to 2017-18 (From Ministry of Agriculture and Farmers Welfare).csv')
PKVYScheme.head(10)

,Sr.No,Name of the State/UT,No of Clusters,2015-16 (1st year) - Release,2015-16 (1st year) - Expenditure,2016-17 (2nd year) - Release,2016-17 (2nd year) - Expenditure,2017-18 (3rd year) - Release,2017-18 (3rd year) - Expenditure
0,1,Andhra Pradesh,433.0,1100.15,1100.150,798.17,798.17,0.00,0.0
1,2,Bihar,327.0,1050.37,0.000,664.26,0.00,214.14,0.0
2,3,Chhattisgarh,188.0,603.88,316.180,314.78,314.78,25.70,0.0
3,4,Gujarat,100.0,178.45,18.310,238.83,0.00,0.00,0.0
4,5,Goa,4.0,7.14,0.000,0.00,0.00,0.00,0.0
5,6,Haryana,20.0,53.53,0.000,45.98,1.10,0.00,0.0
6,7,Jharkhand,100.0,321.21,178.450,203.14,0.00,321.21,0.0
7,8,Karnataka,545.0,1945.12,1945.120,815.27,785.27,1088.57,0.0
8,9,Kerala,119.0,382.22,355.296,0.00,0.00,1377.95,0.0
9,10,Madhya Pradesh,880.0,2826.67,2826.670,1787.60,754.41,1070.71,0.0

In [10]:
SwachBharatMission=pd.read_csv('StateUT-wise Numbers of Individual Household ToiletsLatrines, CommunityPublic Toilets constructed, ODF declared towns and detail of Funds released under Swachh Bharat Mission (Urban) upto 30-11-2018.csv')
SwachBharatMission.head(10)

,S.No,State/UT,Numbers of IHHL Constructed Upto 30.11.2018,Numbers Community/Public Toilets Constructed Upto 30.11.2018,Numbers of Towns Declared ODF Upto 30.11.2018,Funds released by Central Government for Toilets Upto 17.12.2018 [Rs. in Crores]
0,1,Andhra Pradesh,237013,14583,110,112.32
1,2,Andaman & Nicobar Islands,336,601,1,1.00
2,3,Arunachal Pradesh,5611,46,13,8.00
3,4,Assam,17238,1492,66,42.11
4,5,Bihar,264331,7064,135,185.24
5,6,Chandigarh,6117,2441,1,1.72
6,7,Chhattisgarh,325050,22437,168,179.76
7,8,Daman & Diu,675,397,2,0.00
8,9,Dadra & Nagar Haveli,1179,85,1,0.74
9,10,NCT of Delhi,458,19202,5,30.23

In [11]:
PMJanDhan=pd.read_csv('Deposit in Pradhan Mantri Jan Dhan Yojana (PMJDY) Accounts as on 03 July, 2019 (From Ministry of Finance).csv')
PMJanDhan.head(10)

                    State/UT  Deposit in PMJDY Accounts
0  Andaman & Nicobar Islands                      23.76
1             Andhra Pradesh                    1981.73
2          Arunachal Pradesh                     118.07
3                      Assam                    3519.40
4                      Bihar                    9888.03
5                 Chandigarh                     105.10
6               Chhattisgarh                    3214.06
7       Dadra & Nagar Haveli                      49.67
8                Daman & Diu                      18.89
9                      Delhi                    1783.14

In [49]:
import pandas as pd
import plotly.express as px
import dash 
import dash_html_components as html 
import dash_core_components as dcc
import plotly.graph_objects as go
from dash.dependencies import Input, Output
global x
x=0

app = dash.Dash()

fig = go.Figure()
##fig.update_layout(plot_bgcolor='blue')
fig.update_yaxes(showgrid=False) # disable the horizontal grid lines
fig.update_xaxes(showgrid=False)


app.layout=html.Div([html.Div(html.H1('Details of Goverment Schemes',style={'color':'white',            #all should be as string
                                                   'text-align':'center',
                                                   'background-color':'gray',
                                                   'border-style': 'double',
                                                   'display':'inline-block',  # display list items horizontally instead of vertically.
                                                   'width':'100%'
                                                    })),
                   
                   
                   # syle for html.div
                    html.Div(dcc.Dropdown(id='dropdown1',options=[{'label': 'Ministry of Agriculture and Farmers Welfare','value': 'ag'},
                                                                  {'label': 'Sarva Shiksha Abhiyan','value': 'SSA'}],
                                                                  placeholder="Select an Mission/Scheme/Ministry"),
                                                                     
                                                                  style={'width':'30%','display':'inline-block'}),
                    html.Div(dcc.Dropdown(id='dropdown2',options=[{'label': '2014-15 - Actual Exp.','value': 'Yr14'},
                                                                  {'label': '2015-16 - Actual Exp.','value': 'Yr15'},
                                                                  {'label': '2016-17 - Actual Exp.','value': 'Yr16'}],
                                                                  placeholder="Select a Time Period"),                                                                  
                                                                  style={'width':'30%','display':'inline-block'}),
                    html.Div(html.Button('Submit', id='button',n_clicks=0)),
               
                    html.Div(dcc.Graph(id='firstgraph1',figure=fig,style={'width':'100%','display':'inline-block'}))
                    ])
                     
@app.callback(
    Output('firstgraph1', 'figure'),
    [Input('dropdown1', 'value'),Input('dropdown2', 'value'),Input('button', 'n_clicks'),]) 

def update_figure(dropdown1,dropdown2,n_clicks):
    global x
    global fig
    if (dropdown1=='ag') & (dropdown2=='Yr14') & (n_clicks>x) :
        fig= go.Figure(data=go.Bar(x=DeptOfAgri['Name of Mission/Scheme'],y=DeptOfAgri['2014-15 - Actual Exp.'],text=DeptOfAgri['2014-15 - Actual Exp.'],textposition='auto'))
        fig.update_layout(title="Ministry of Agriculture and Farmers Welfare (2014-15 - Actual Exp.)")

    if (dropdown1=='ag') & (dropdown2=='Yr15') & (n_clicks>x) :
        fig= go.Figure(data=go.Bar(x=DeptOfAgri['Name of Mission/Scheme'],y=DeptOfAgri['2015-16 - Actual Exp.'],text=DeptOfAgri['2015-16 - Actual Exp.'],textposition='auto'))
        fig.update_layout(title="Ministry of Agriculture and Farmers Welfare (2015-16 - Actual Exp.)")
  
        
    if (dropdown1=='ag') & (dropdown2=='Yr16') & (n_clicks>x):
        fig=go.Figure(go.Bar(x=DeptOfAgri['Name of Mission/Scheme'],y=DeptOfAgri['2016-17 - Actual Exp.'],text=DeptOfAgri['2016-17 - Actual Exp.'],textposition='auto'))
        fig.update_layout(title="Ministry of Agriculture and Farmers Welfare (2016-17 - Actual Exp.)")
    
    
    x=n_clicks
    return fig


if __name__ == '__main__':        
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [10/Nov/2020 17:48:00] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2020 17:48:00] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2020 17:48:00] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2020 17:48:00] "GET /_favicon.ico?v=1.17.0 HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2020 17:48:01] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2020 17:48:03] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2020 17:48:06] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2020 17:48:08] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [10/Nov/2020 17:48:09] "POST /_dash-update-component HTTP/1.1" 200 -